&i2c2 {
	status = "okay";
	clock-frequency = <100000>;
};

/ {
	leds {
		compatible = "gpio-leds";
		led_r: led_r {
			gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
			label = "LED_R";
		};
		led_g: led_g {
			gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>;
			label = "LED_G";
		};
		led_b: led_b {
			gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
			label = "LED_B";
		};
	};

	aliases {
		ledr = &led_r;
		ledg = &led_g;
		ledb = &led_b;
	};
};
